apiVersion: v1
kind: Service
metadata:
  name: appointment-service
  namespace: sbms
spec:
  selector:
    app: appointment-service
  ports:
    - name: http
      port: 8080
      targetPort: 8080
  type: ClusterIP
