apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: appointment-service-k8s-reader
  namespace: sbms
rules:
  - apiGroups: [""]
    resources:
      - pods
      - services
      - endpoints
    verbs:
      - get
      - list
      - watch

