/* ==== GRID WRAPPER ==== */
.sbms-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: 20px;
  width: 100%;
  margin-top: 22px;
}

/* ==== GRID ITEM (card wrapper) ==== */
.sbms-grid-item {
  width: 100%;
  display: flex;
}
