server:
  port: 8085

spring:
  application:
    name: sbms-notification-service

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  rabbitmq:
    host: ${RABBITMQ_HOST}
    port: ${RABBITMQ_PORT}
    username: ${RABBITMQ_USERNAME}
    password: ${RABBITMQ_PASSWORD}

rabbitmq:
  exchange: sbms.events
  queue: sbms.notification.queue
  routing-key: "#"

security:
  jwt:
    jwk-set-uri: http://sbms-backend:8080/.well-known/jwks.json
