.page {
  width: 100%;
  min-height: 100vh;
  background: #ffe0b2;
  color: #333;
  font-family: sans-serif;
}


.navbar {
  width: 100%;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 2px 5px #00000022;
}

.logo {
  color: #ff8a00;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.btn {
  background: #ff8a00;
  padding: 8px 18px;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}


.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h2 {
  font-size: 28px;
  font-weight: bold;
}

.search-box {
  margin-top: 25px;
}

.search-box input {
  padding: 10px;
  width: 250px;
  border-radius: 8px 0 0 8px;
  border: 1px solid #ccc;
}

.search-box button {
  padding: 10px 18px;
  background: #ff8a00;
  color: white;
  border: none;
  border-radius: 0 8px 8px 0;
}


.section {
  padding: 50px 20px;
  text-align: center;
}

.section h3 {
  font-size: 22px;
  margin-bottom: 25px;
}


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 15px;
  padding: 0 20px;
}

.card {
  background: white;
  padding: 25px 15px;
  border-radius: 15px;
  box-shadow: 0 2px 4px #00000022;
}


.footer {
  text-align: center;
  padding: 20px;
  background: #ffcc80;
}
