@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #D84C38;
  --accent: #FF7A00;
  --light: #E8DBC7;
  --card-bg: #FFFFFF;
  --text: #332720;
  --muted: #665345;
}

body {
  @apply bg-light text-text;
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}