@import "tailwindcss";


body {
  font-family: 'Inter', sans-serif;
  color: #332720;
  background: #E8DBC7;
  line-height: 1.6;
}

:root {
  /* Core Colors */
  --primary: #D84C38;
  --accent: #FF7A00;
  --text: #332720;
  --muted: #665345;
  --card-bg: #FFFFFF;
  --light: #E8DBC7;

  /* Status Colors */
  --success: #10B981;
  --error: #EF4444;
  --info: #3B82F6;
  --warning: #F59E0B;

  /* Layout/Utility */
  --radius: 25px;
  --shadow: 0 6px 20px rgba(0,0,0,0.08);
}
